<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GüvenliNokta"
        tools:targetApi="31">
        <activity
            android:name=".info.Heyelan"
            android:exported="false" />
        <activity
            android:name=".info.Cig"
            android:exported="false"
            android:theme="@style/Theme.GüvenliNokta" />
        <activity
            android:name=".info.Hortum"
            android:exported="false" />
        <activity
            android:name=".info.Yangin"
            android:exported="false" />
        <activity
            android:name=".info.Sel"
            android:exported="false" />
        <activity
            android:name=".info.Deprem"
            android:exported="false" />
        <activity
            android:name=".ProfilActivity"
            android:exported="false" />
        <activity
            android:name=".EmergencyActivity"
            android:exported="false" />
        <activity
            android:name=".FirstAidActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="" />
    </application>

</manifest>